<!DOCTYPE html>
<html>
    <head>
        <title>Mowzio</title>
    </head>
    <body>
      <style>
        body {
          display: flex;
          justify-content: center;
          align-items: center;
          min-height: 100vh;
          margin: 0;
          background-color: #f0f0f0;
        }
      </style>
      <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
      <dotlottie-player src="https://lottie.host/5a102752-56ed-4e11-8f2b-52ba37b248f7/d9jjRkoBRs.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
    </body>
</html>